#login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 0;
    width: 100%;

    #logo {
        position: relative;
        transform:translateX(-13px);

        p {
            font-family: montserrat;
            font-size: 2.5rem;
            font-weight: bold;
            letter-spacing: 0.7px;
        }

        span {
            text-align: right;
            position: absolute;
            bottom: -5px;
            font-size: 14px;
            font-weight: lighter;
            right: -31px;
            font-family: 'Nunito sans';
        }
    }

    button,
    #logo {
        margin: 15px 0;
    }
}