@import "../utils/variables.scss";

#track_details {
    display: flex;
    width: 100%;

    .container {
        margin: 50px 0 80px 0;
        width: calc(100% - 0px);
        display: grid;
        grid-template-columns: 22rem 1fr 1fr;
        grid-template-areas: "profile aside aside";
        grid-column-gap: 80px;

        .profile {
            grid-area: profile / profile / profile;
            margin: 30px 0 30px 80px;
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;

            .image {
                height: 17rem;
                width: 17rem;
                margin: 10px;
                overflow: hidden;
                position: relative;

                img {
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    min-height: 100%;
                    max-width: 150%;
                    position: absolute;
                }
            }

            .profile_details {
                text-align: center;
                margin: 10px;

                a {
                    display: inline-block;
                    font-size: 12px;
                    margin-top: 30px;
                    width: fit-content;
                }

                h2 {
                    font-size: 30px;
                    margin-bottom: 10px;
                }

                p {
                    font-size: 18px;
                    font-family: 'Nunito sans';
                    margin-bottom: 10px;
                    font-weight: 500;
                }

                span {
                    margin-top: 7px;
                    font-family: 'Nunito sans';
                    color: $dimgray;
                    font-size: 14px;
                }
            }
        }

        aside {
            grid-area: aside / aside /aside;
            margin: 30px 80px;

            .title {
                display: flex;
                align-items: center;
                font-size: 23px;
                font-weight: bold;
                font-family: Montserrat;
            }

            ul {
                margin-top: 15px;

                li {
                    display: flex;
                }
            }

            #artists {
                margin-top: 60px;
            }
        }
    }
}

@media only screen and (max-width:1125px) {
    #track_details {
        .container {

            .profile {
                margin: 30px 45px;
            }

            aside {
                margin: 30px 50px 30px 30px;
            }
        }
    }
}

@media only screen and (max-width:848px) {
    #track_details {
        .container {
            margin: 50px 0 50px 0;
            width: calc(100% - 0px);

            .profile {
                position: relative;
            }

            aside {
                margin: 30px;
            }
        }
    }
}

@media only screen and (max-width:512px) {
    #track_details {
        .container {
            margin: 50px 0 50px 0;
            grid-template-columns: none;
            grid-template-areas: "profile"
                "aside";

            .profile {
                position: relative;
                margin: 30px 20px;

                .image {
                    height: 120px;
                    width: 120px;
                }


            }

            aside {
                margin: 30px 20px;
            }
        }
    }
}