@import "../utils/variables.scss";

#playlists {
    display: flex;

    .grid {
        margin-bottom: 30px;
    }


    .container {
        margin: 50px 80px;
        flex: 1;
        position: relative;
        width: calc(100% - 160px);

        header {
            margin-bottom: 40px;
            display: flex;
            align-items: flex-start;
            vertical-align: top;
            justify-content: space-between;

            #tabs {
                text-align: center;
            }
        }

        .tracks li {
            display: block;
        }
    }
}

@media only screen and (max-width:848px) {
    #playlists {
        .container {
            margin: 50px 20px;
            margin-bottom: 70px;
            width: calc(100% - 50px);
        }
    }
}

@media only screen and (max-width:768px) {
    #playlists {
        .container header {
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            #tabs {
                margin-top: 30px;
                text-align: center;
                display: flex;
                justify-content: center;
            }
        }
    }
}