@import "../utils/variables.scss";

#track {
    display: flex;

    .container {
        margin: 50px 80px;
        flex: 1;
        position: relative;
        width: calc(100% - 160px);

        header {
            display: flex;
            justify-content: space-between;
            #tabs {
                text-align: center;
            }
        }

        .tracks li {
            display: block;
        }
    }
}

@media only screen and (max-width:848px) {
    #track {
        .container {
            margin: 50px 25px;
            width: calc(100% - 50px);
        }
    }
}

@media only screen and (max-width:768px) {
    #track {
        .container header #tabs {
            text-align: center;
            display: flex;
            justify-content: center;
        }
    }
}